Flask==0.9
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-SQLAlchemy==0.16
Flask-User==0.6.1
Flask-WTF==0.8
Jinja2==2.6
MarkupSafe==0.23
SQLAlchemy==0.7.9
WTForms==1.0.2
Werkzeug==0.8.3
blinker==1.3
boto==2.34.0
itsdangerous==0.24
passlib==1.6.2
psycopg2==2.5.4
py-bcrypt==0.4
pycrypto==2.6.1
wsgiref==0.1.2
