/*base.html navigation bar*/

/*(the picture top)*/
.navbar {
  height: 90px;
  background-color: #ffffff;
  border-bottom: solid 1px #dadada;
}
.triangle{
  margin-left: 698px;
  margin-top: -1px;
}

/*(navigation:Login,Logout,Signup,Home)*/

.left{
  float:left;
  margin-left: 440px;
}
.right{
  float: right;
  margin-right:420px;
}

li .logo{
color:#08d6d2;
font-size: 25px;
margin-bottom: 5px;

}

a:-webkit-any-link {
color: #A0A0A0;
cursor: auto;
}

.flashes li{
  font-family:'Raleway',sans-serif;
  font-size: 14px;
  list-style: none;
  margin-left: -38px;
  margin-top: -30px;
  color:#fe6108;
}

.menubar ul,
.flex-container {
  display: inline;
  list-style: none;

}

.flex-container .flex-item,
.menubar ul li {
  font-family:'Raleway',sans-serif;
  font-weight: 500; 
  font-size: 16px;
  color:#A0A0A0;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-container .flex-item,
.menubar ul li:hover {
  color: #08d6d2;
}

.flex-container ul li ul,
.menubar ul li ul {
  padding: 0;
  position: absolute;
  top: 45px;
  width: 100px;
  left:0;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

a:link {
  text-decoration:none;
}
a:hover{color: #08d6d2;
  }

.menubar{
  text-align: center;
  padding-top:40px;
}


/*(the background window)*/

.login-card {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  width: 275px;
  background-color: #f1f1f1;
  margin-top:60px;
  margin-left: 550px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/*(title Log in)*/

.login-title {
  text-align: center;
  font-size: 2.1em;
  font-family:'Railway',sans-serif; 
  font-weight: 400;
  color: #585858;
}

input:focus, select:focus, textarea:focus {
outline-size: 2px;
outline-color: #FFFCD0;
}

/*(sumbit button)*/

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  background-color: #08d6d2;
  border-radius: 5px;
  border:none;
  color:#ffffff;
  font-family: 'Railway', sans-serif;
  font-size: 16px;

}

/*(the form)*/

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 275px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #C0C0C0;
  padding: 0 8px;
}

#location {
  width: 275px;
}
/*(submit button text)*/

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Railway', sans-serif;
  height: 36px;
  padding: 0 8px;
  font-weight: bold;
}

/*(Not a member? Sign up now)*/

.login-help {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color:#6E6E6E;
  font-family:'Railway',sans-serif; 

}
/*(sign me up now!)*/

#register{
  color:#848482;
  font-family:'Railway',sans-serif; 
  font-weight: bold;
}
#register:hover {
  color: #08d6d2;
}

.tt-dropdown-menu {
background-color:#ffffff;
border: 1px dashed #008583;
text-align: left;
margin-left: 5px;
}


/*(upload page)*/
.upload_page {
  margin-left: 490px;
  margin-top: 65px;
  padding: 30px;
  width: 430px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.info_submit{
  padding-left: 11px;
}
.info_submit input[type=submit] {
  width: 410px;
  height: 30px;
  display: block;
  margin-top: 10px;
  position: relative;
  background-color: #08d6d2;
 /* box-shadow: 2px 2px 2px #888888;*/
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Railway', sans-serif;
  border:none;
  color: #ffffff;
}

.info_submit input[type=text]{
  height: 44px;
  font-size: 16px;
  width: 410px;
  margin-bottom: 10px;
  background: #fff;
  border:1px solid #C0C0C0;
  padding: 0 8px;
  font-family: 'Railway', sans-serif
}
#location_upload {
  width: 410px;
  margin-bottom: 0px;
}

#upload_title{
  font-family:'Railway',sans-serif; 
  font-weight: 500;
  text-align: center;
  color: #585858;
}

#notes {
height:70px;
padding-bottom: 29px;
}

#options {
width: 200px; 
height: 40px;
border: 1px solid #C0C0C0;
background: #fff;
font-family:'Railway',sans-serif; 
color:#a9a9a9;
font-size: 15px;
margin-top: -10px;

}

#options4{
width: 100px; 
height:40px;
border: 1px solid #C0C0C0;
background: #fff;
margin-left: 10px;
display: inline-block;
color:#a9a9a9;
font-size: 14px;
font-family:'Raleway',sans-serif;
font-weight: 500;
margin-top: -3px;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select';
  display: inline-block;
  background:#fecb0d;
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-family:'Railway',sans-serif; 
  font-size: 13px;
  text-align: center;
  height: 18px;
  width: 62px;
  margin-left: 11px;
  margin-bottom: 10px;
  padding-top: 4px;
  color:#ffffff;

}
.custom-file-input:hover::before {
  border-color: black;
;
}
.custom-file-input:active::before {
  background: #ffffff;
  color: black;

}


/*(profile page)*/

.profile_info {
  margin-left:210px;  
}

.profile_box {
  margin-top: 10px;
  border-bottom: solid 1px #dadada;
  height: 100px;
  width: 1425px;
  font-family:'Raleway',sans-serif;
  font-weight: 500;
  color:#585858;

}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  writing-mode: horizontal-tb;
  margin-left: 155px;

}

.flex-item img{
  height: 420px;
}
.flex-item:hover  {
 -webkit-transform:scale(1.3);
transform:scale(1.3);
z-index: 111;
}

.description {
 font-family: 'Railway', sans-serif;
 font-size: 13px;
 margin-left: 5px;
 color:#585858;
 background-color:#ffffff; 
}

/*(home page)*/
.welcome {
 background-color:#f1f1f1;
 height: 280px;
 margin-left: 200px;
 margin-right: 200px;
 margin-top: -13px;
}

.welcome{
  text-align: center;
  font-family: 'Railway', sans-serif;
  font-weight: 500;
  padding-top: 30px;
}
.welcome h1 {
  color:#ffffff;
  font-size: 39px;
  -webkit-text-stroke: 2px #fe6108;
}

.welcome h3 {
  color:#585858;
  font-size: 20px;

}
.twist{
 font-family: 'Cookie', cursive;
 background: none;
 font-size: 29px;
 color:#585858;

}
.search_form input[type=text]{
  height: 40px;
  font-size: 14px;
  width: 300px;
  display: inline-block;
  background: #fff;
  border: 1px solid #C0C0C0;
  padding: 0 8px;
  border-radius: 5px;
  margin-top:-24px;
  font-family:'Raleway',sans-serif;
  font-weight: 500;
}
.search_form{
  text-align: center;
  margin-top: 45px;

}
#options2{
width: 250px; 
height:40px;
border: 1px solid #C0C0C0;
background: #fff;
margin-left: 10px;
display: inline-block;
position: relative;
color:#A8A8A8 ;
font-size: 14px;
font-family:'Raleway',sans-serif;
font-weight: 500;
}

#options3{
width: 100px; 
height:40px;
border: 1px solid #C0C0C0;
background: #fff;
margin-left: 10px;
display: inline-block;
position: relative;
color:#A8A8A8;
font-size: 14px;
font-family:'Raleway',sans-serif;
font-weight: 500;
}
.search_form input[type=submit] {
  width: 80px;
  height: 37px;
  margin-top: 10px;
  display: inline-block;
  background-color: #08d6d2;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-family: 'Railway', sans-serif;
  color:#ffffff;
  font-size: 14px;
  border:none;
  margin-left: 10px;

}
input[type=submit]:active {
background-color: #ffffff;
color:#08d6d2;
}

.content ul li{
  text-align: center;
  list-style: none;
  font-family: 'Railway', sans-serif;
  color:#A0A0A0;

}

/*(the girl)*/

@-webkit-keyframes large-wave {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(-15deg); }
}

@-webkit-keyframes medium-wave {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(-12deg); }
}

@-webkit-keyframes small-wave {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(-10deg); }
}

@keyframes large-wave {
from { transform: rotate(0deg); }
to { transform: rotate(-15deg); }
}

@keyframes medium-wave {
from { transform: rotate(0deg); }
to { transform: rotate(-12deg); }
}

@keyframes small-wave {
from { transform: rotate(0deg); }
to { transform: rotate(-10deg); }
}

.top {
-webkit-animation: large-wave 5s infinite alternate;
animation: large-wave 5s infinite alternate;
}

.middle {
-webkit-animation: medium-wave 5.5s infinite alternate;
animation: medium-wave 5.5s infinite alternate;
}

.bottom {
-webkit-animation: small-wave 6s infinite alternate;
animation: small-wave 6s infinite alternate;
}

@-webkit-keyframes dash {
from { stroke-dashoffset: 1000; }
to { stroke-dashoffset: 0; }
}

@keyframes dash {
from { stroke-dashoffset: 1000; }
to { stroke-dashoffset: 0; }
}

.wind {
stroke-dasharray: 100;
opacity: 0.25;
-webkit-animation: dash 35s linear infinite;
animation: dash 35s linear infinite;
}

.girl{
width:550px;
margin-left: 31%;
}

/*(view_picture)*/
.view img{
  height:600px;
  margin-top:30px;
  margin-left: 500px;

}
.delete input[type=submit] {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  background-color: #fe6108;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  font-family: 'Railway', sans-serif;
  color:#ffffff;
  font-size: 14px;
  border:none;
  margin-left: 650px;
  cursor: pointer;

}