<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    </head>
    <body>
       <div class="navbar">
            <div class="menubar">
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/profile"> Profile </a></li>
                  
                    <img src="/static/img/logo.png">
                    {% if not session.user_id %}
                    <li><a href="/signup"> Sign up </a></li>
                    <li><a href="/login"> Log in </a></li>
                    {% endif %}
                    
                    {% if session.user_id %}
                    <li><a href="/upload"> Upload</a></li>
                    <li><a href="/logout"> Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    <div class="triangle"><img src="/static/img/triangle.png"></div>

      
    {% block body %}
    {% endblock %}

 
         <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/bootstrap.min.js"></script>

        <script src="static/main.js"></script>
        <script type="text/javascript" src="static/jquery.autocomplete.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script src="static/typeahead.bundle.js"></script>
    
    </body>
</html>