<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    </head>
    <body>
       <div class="navbar">
        <ul class="menu">
             <li id="menu-item">
                <a href="/login">Log in </a>
            </li>
            <li id="menu-item">
                <a href="/signup">Sign up </a>
            </li>
        </ul>
        </div>
        <div class=pic-body></div>

        <div class= content">


        <div class="container">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
         <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/bootstrap.min.js"></script>

        <script src="static/main.js"></script>
        <script type="text/javascript" src="static/jquery.autocomplete.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script src="static/typeahead.bundle.js"></script>
    
    </body>
</html>