{% extends "base.html" %}
{% block body %}
 <form action="{{ url_for("index") }}" method=post enctype=multipart/form-data>
       <div class="search_form">
         <input type="text" data-provide="typeahead" class="typeahead form-control" name="location" placeholder="enter a city">
    	
           	<select name="style" id="options2">
				<option value="Style1">Choose a style</option>
				<option value="Street style">Street style</option>
				<option value="Sporty">Sporty</option>
				<option value="Vintage">Vintage</option>
				<option value="Vintage">Hipster</option>
				<option value="Hipster">Festival</option>
				<option value="Classic">Classic</option>
				<option value="Elegent">Elegent</option>
				<option value="Wedding">Wedding</option>
				<option value="Festival">Festival</option>
				<option value="Glam">Glam</option>
				<option value="Artistic">Artistic</option>
				<option value="Sophisticated">Sophisticated</option>
				<option value="Nautical">Nautical</option>
				<option value="Bold">Bold</option>
				<option value="Statement">Statement</option>
				<option value="Boho">Boho</option>
				<option value="Gangsta">Gangsta</option>
				<option value="Harajuku">Harajuku</option>
				<option value="Nerdy">Nerdy</option>
				<option value="Grunge">Grunge</option>
				<option value="Steampunk">Steampunk</option>
				<option value="Preppy">Preppy</option>
				<option value="Couture">Couture</option>
				<option value="Earthy">Earthy</option>
				<option value="Hippie">Hippie</option>
				</select>
	<input type="submit" value="Go!">
    </form>
   </div>
   
   <div class="style_matches">
{% for i in match %}
<img src="{{ url_for('static', filename ='images/'+ i.filename) }}" width="350" height="450">
<p>Notes: {{ i.notes}}</p>
{% endfor %}
{% endblock %} 