{% extends "base.html" %}
{% block body %}

<div class="login-card">
    <h1 class="login-title"> Log-in</h1><br>
    <form action="{{ url_for("login_form") }}"  method="POST">
            <input type="text" id="email" name="email" placeholder="email">
        
            <input type="password" id="password" name="password" placeholder="password">
       
            <input type="submit" name="login" class="login" type="submit" value="Sign In">
    </form>
    <div class ="login-help">
    <p>Not a member?<a id="register" href="/signup"> Sign up now!</a></p>
</div>
</div>
 <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

{% endblock %}
