{% extends "base.html" %}
{% block body %}
<div class="profile_box">
<div class="profile_info"> 
<h3>{{ user.username }}</h3>
<h5>{{user.location.location_name}} </h5>
</div>
</div>

<ul class="flex-container">
{% for i in pic_id %}

<li class="flex-item">
	<a href="/picture_view/{{i.id}}"> <img id={{i.id}} src="{{ url_for('static', filename ='images/'+ i.filename) }}"></a>
	<div class="description">
	<p><b>Description</b>: {{ i.notes}}</p>
	<p><b>Location posted</b>: {{i.location.location_name}}</p>
</div>
</li>
{% endfor %}
</ul>

{% endblock %} 