{% extends "base.html" %}
{% block body %}
<div id="loginBox">
    <form action="/signup" method="POST">
    	<div>
            <label class="leftLabel" for="age">Username</label>
            <input type="text" id="username" name="username" placeholder="username">
        </div>
        <div>
            <label class="leftLabel" for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="email">
        </div>
        <div>
            <label class="leftLabel" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
        <div>
            <label class="leftLabel" for="location">Location</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="location">
        </div>
        <div>
            <input class="loginButton" type="submit" value="Signup">
        </div>
    </form>
</div>

{% endblock %}