{% extends "base.html" %}
{% block body %}
 
<div class="login-card">
    <h1 class="login-title">Sign up</h1><br>
    <form action="{{ url_for("user_signup") }}" method="POST">
    	
            <input type="text" id="username" name="username" placeholder="username">
       
            <input type="text" id="email" name="email" placeholder="email">
      
            <input type="password" id="password" name="password" placeholder="password">
       
            <input type="text" data-provide="typeahead" class="typeahead form-control" id="location" name="location" placeholder="enter your city">
      
            <input type="submit" name="login" class="login login-submit" type="submit" value="Sign me up!">

    </form>
</div>
 <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

{% endblock %} 
