{% extends "base.html" %}
{% block body %}
<div class="upload_page">
    <h1 id="upload_title">Upload your image</h1>
    <form action="{{ url_for("upload_file") }}" method="POST" enctype="multipart/form-data">
      <input class="custom-file-input" type=file name=file> 

       <div class="info_submit">
          <input type="text" id="notes" name="notes" placeholder="describe your style"> 
          <div>
          <input type="text" data-provide="typeahead" class="typeahead form-control" id="location_upload" name="location" placeholder="enter a current city">
          </div> <br>
           <select name="style" id="options">
				<option value="Style1">choose your style</option>
				<option value="Street style">Street style</option>
				<option value="Sporty">Sporty</option>
				<option value="Vintage">Vintage</option>
				<option value="Hipster">Festival</option>
				<option value="Classic">Classic</option>
				<option value="Elegent">Elegent</option>
				<option value="Wedding">Wedding</option>
				<option value="Festival">Festival</option>
				<option value="Glam">Glam</option>
				<option value="Artistic">Artistic</option>
				<option value="Sophisticated">Sophisticated</option>
				<option value="Nautical">Nautical</option>
				<option value="Bold">Bold</option>
				<option value="Statement">Statement</option>
				<option value="Boho">Boho</option>
				<option value="Gangsta">Gangsta</option>
				<option value="Harajuku">Harajuku</option>
				<option value="Nerdy">Nerdy</option>
				<option value="Grunge">Grunge</option>
				<option value="Steampunk">Steampunk</option>
				<option value="Preppy">Preppy</option>
				<option value="Couture">Couture</option>
				<option value="Earthy">Earthy</option>
				<option value="Hippie">Hippie</option>
				<option value="Casual">Casual</option>
				<option value="Flowery">Flowery</option>
				<option value="Beach style">Beach style</option>
				</select>
			<select name="gender" id="options4">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
        <br>
        <input type="submit" value="Submit">
    </form>
   </div>
</div>

{% endblock %} 