{% extends "base.html" %}
{% block body %}
    <title>Upload image</title>
    <h1>Upload your image</h1>
    <form action="{{ url_for("upload_file") }}" method=post enctype=multipart/form-data>
      <p><input type=file name=file> <br>
         <input type=submit value=Upload>
       <div>
          <input type="text" id="brand" name="brand" placeholder="brand">
           <select name="mydropdown">
				<option value="Style1">Choose your style</option>
				<option value="Style2">Street style</option>
				<option value="Style3">Sporty</option>
				<option value="Style4">Vintage</option>
				<option value="Style5">Classic</option>
				<option value="Style6">Elegent</option>
				<option value="Style7">Wedding</option>
				<option value="Style8">Festival</option>
				<option value="Style9">Glam</option>
				<option value="Style10">Artistic</option>
				<option value="Style11">Sophisticated</option>
				<option value="Style12">Nautical</option>
				<option value="Style13">Bold</option>
				<option value="Style14">Statement</option>
				<option value="Style15">Boho</option>
				<option value="Style16">Gangsta</option>
				<option value="Style17">Harajuku </option>
				<option value="Style18">Nerdy</option>
				<option value="Style19">Grunge</option>
				<option value="Style20">Steampunk</option>
				<option value="Style21">Preppy</option>
				<option value="Style22">Couture</option>
				<option value="Style23">Earthy</option>
				<option value="Style24">Hippie</option>
				</select>
        </div>
    </form>

{% endblock %} 
    
